@import "tailwindcss";
@source "../../../packages/ui/src";

body {
  font-family: 'Space Grotesk', sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

